<h1 class="text-center">To-Do lists Collection</h1>
<hr>
<div class="row">
  <div class="col-12">
    <button type="button"
      class="create-todo-list-btn btn btn-dark mb-0"
      data-action="create-todo-list">
      Create new To-Do list
    </button>
    {{#unless todoListCollection.length}}
      <p class="h2">
        There are no To-Do lists yet...
      </p>
    {{/unless}}
  </div>
</div>
<hr>

{{#each todoListCollection}}
  <div class="todo-list row">
    <div class="col-12">
      <p class="h5">
        To-do list's name:
        <span class="text-muted" contenteditable="true" data-todo-list-id="{{@index}}"
        data-model="todo-list-name">{{this.name}}</span>
        <span class="remove-todo-list" data-action="remove-todo-list">
          &#10006;
        </span>
      </p>
      {{#if items}}
        <p class="h5">
          Items:
        </p>
      {{/if}}
    </div>
    <div class="todo-list-items col-12">
      <div class="row">
        {{#items}}
          <div class="col-12">
            <span contenteditable="true">{{text}}</span>
            <input {{#if checked}}checked{{/if}}
              type="checkbox">
            <span class="remove-todo-list-item"
                  data-action="remove-todo-list-item"
                  data-todo-list-item-id="{{@index}}">
              &#10006;
            </span>
          </div>
        {{/items }}
      </div>
    </div>
    <div class="col-12">
      <button type="button"
        class="create-todo-list-item-btn btn btn-dark mt-3"
        data-todo-list-id="{{@index}}"
        data-action="create-todo-list-item">
        New item
      </button>
    </div>
  </div>
  <hr>
{{/each }}

<div class="row">
  <div class="col-md-6">
    <p class="h3 text-center json-title">
      To-Do Lists JSON:
      <button class="btn btn-dark save-json" data-model="save-json">Save</button>
    </p>
    <pre class="code-block"
      contenteditable="true"
      data-model="todo-list-collection-json">{{toJSON todoListCollection}}</pre>
  </div>
  <div class="col-md-6">
    <p class="h3 text-center template-title">
      Rendering template:
      <select class="custom-select" data-model="rendering-engine">
        {{#each renderingOptions}}
          <option {{#if this.isActive}}selected{{/if}}
            value="{{this.keyName}}">
            {{this.name}}
          </option>
        {{/each }}
      </select>
    </p>
    <pre class="code-block">{{template}}</pre>
  </div>
</div>